* {
        border: none;
        border-radius: 0;
    font-family: "Lilex Nerd Font Mono", monospace;
        font-weight: bold;
        font-size: 14px;
        min-height: 0;
}

window#waybar {
        background: rgba(11, 26, 36, 0);
        color: #b7cecd;
}

tooltip {
        background: #0b1a24;
        border-radius: 50px;
        border-width: 2px;
        border-style: solid;
        border-color: #040b10;
}

#workspaces button {
        padding: 5px;
        color: #6f8f8d;
        border-radius: 50px;
}

#workspaces button.active {
        color: #08222e;
        background: linear-gradient(57deg, rgba(17, 159, 152, 1) 0%, rgba(83, 186, 186, 1) 98%);
        border-radius: 50px;
}

#workspaces button.focused {
        color: #08222e;
        /* background: #53baba; */
        background: linear-gradient(57deg, rgba(17, 159, 152, 1) 0%, rgba(83, 186, 186, 1) 98%);
        border-radius: 50px;
}

#workspaces button.urgent {
        color: #0b1a24;
        background: #c9a86a;
        border-radius: 50px;
}

#custom-language,
#custom-notification,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
        background: #0b1a24;
        padding: 0px 10px;
        margin: 3px 0px;
        margin-top: 10px;
        border: 1px solid #071219;
}

#tray {
        border-radius: 50px;
        margin-right: 10px;
}

#workspaces {
        background: #0b1a24;
        border-radius: 50px;
        margin-left: 10px;
        margin-right: 10px;
        padding-right: 2px;
        padding-left: 2px;
}

#custom-caffeine {
        color: #53baba;
        border-radius: 50px 0px 0px 10px;
        border-right: 0px;
        margin-left: 10px;
}

#custom-language {
        color: #119f98;
        border-left: 0px;
        border-right: 0px;
}

#custom-notification {
        color: #42ada7;
        margin-right: 10px;
        border-radius: 50px;
        padding-left: 6px;
}

#window {
        border-radius: 50px;
        margin-left: 60px;
        margin-right: 60px;
}

#waybar.empty #window {
        background: none;
        border: none;
}

#clock {
        color: #c9a86a;
        border-radius: 50px;
        margin-left: 5px;
        margin-right: 10px;
        padding-right: 5px;
}

#network {
        color: #7fb0ad;
        border-left: 0px;
        border-right: 0px;
}

#pulseaudio {
        color: #53baba;
        /*    border-radius: 50px 0px 0px 10px; */
        border-radius: 50px;
}

/* #pulseaudio.microphone {
    color: #118d75;
    margin-right: 5px;
    border-radius: 50px 10px 10px 0px;
}
*/
#battery {
        color: #118d75;
        border-radius: 0 10px 10px 0;
        margin-right: 10px;
        border-left: 0px;
}

#custom-weather {
        border-radius: 50px 10px 10px 0px;
        border-right: 0px;
        margin-left: 0px;
}
